<h2>会員編集画面</h2>

<%= form_with model: @customer, url:customers_mypage_path, method: :patch do |f| %>

<table class= "table">
  <tr>
    <th><%= f.label :名前 %></th>
    <td>
      <%= f.text_field :last_name %>
      <%= f.text_field :first_name %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :フリガナ %></th>
    <td>
      <%= f.text_field :last_name_kana %>
      <%= f.text_field :first_name_kana %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :メールアドレス %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>
  <tr>
    <th><%= f.label :郵便番号（ハイフンなし） %></th>
    <td><%= f.text_field :postal_code %></td>
  </tr>
  <tr>
    <th><%= f.label :住所 %></th>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <th><%= f.label :電話番号（ハイフンなし） %></th>
    <td><%= f.text_field :telephone_number %></td>
  </tr>
</table>

<%= f.submit '変更内容を保存', class: "btn btn-success" %>
<%= f.submit '退会する', class: "btn btn-danger" %>

<% end %>