<h2>注文情報確認</h2>

<%= form_with model: @order, url:orders_path, method: :post do |f| %>
<%= f.hidden_field :payment_method, :value => @order.payment_method %>
<%= f.hidden_field :selected_address, :value => @order.selected_address %>
<%= f.hidden_field :postal_code, :value => @order.postal_code %>
<%= f.hidden_field :address, :value => @order.address %>
<%= f.hidden_field :recipient_name, :value => @order.recipient_name %>
<%= f.hidden_field :shipping_fee, :value => 800 %>

<%= f.hidden_field :customer_id, :value => @order.customer_id %>

<div class="container px-5 px-sm-0">

  <div class="row">
    <div class="col-md-9">
      <table class="table table-hover table-inverse">

        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <tbody>

          <!--current_customerが注文する商品を表示する-->
          <% @orders.each do |order| %>
          <tr>
            <td>
             <%= image_tag order.item.get_image(50,50) %>
             <%= order.item.name %>
            </td>
            <td><%= order.item.with_tax_price %></td>
            <td><%= order.amount %></td>
            <td><%= order.subtotal %></td>

            <% @total_price += order.subtotal %>
          </tr>
          <% end %>
        </tbody>
      </table>

      <h4>
        支払方法
        <!--current_customerの支払方法(クレジットカードか、銀行振込か)-->
        <%= @order.payment_method_i18n %>
      </h4>
      <h4>
        お届け先
        〒
        <%= @order.postal_code %>
        <%= @order.address %>
        <%= @order.recipient_name %>
      </h4>
    </div>


    <div class="col-md-3">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <td>送料</td>
            <td>800</td>
          </tr>
          <tr>
            <td>商品合計</td>
            <td><%= @total_price %></td>
          </tr>
          <tr>
            <td>請求合計</td>
            <td><%= 800+@total_price %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<%= f.hidden_field :billing_amount, :value => 800+@total_price %>
<%= f.submit "注文を確定する", class: "btn btn-success" %>
<% end %>