<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2">
      <table class="table table-hover table-inverse">
        <tr>
          <th>ジャンル機能</th>
        </tr>
        <tr>
          <td>ケーキ</td>
        </tr>
        <tr>
          <td>焼き菓子</td>
        </tr>
        <tr>
          <td>プリン</td>
        </tr>
        <tr>
          <td>キャンディ</td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <%= image_tag @item.get_image(200, 200) %>
    </div>
  
    <div class="col-md-6">
    <%= form_with model: @cart_item do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    
      <h2><%= @item.name %></h2>
      <p><%= @item.introduction %></p>
      <p><%= @item.price %>（税込）</p>
  
      <%= f.select :amount, *[1..3] %>
      <%= f.submit 'カートに入れる', class: "btn btn-success" %>
    </div>
    <% end %>

  </div>

</div>
